/* Definição das variáveis CSS */
:root {
    --white: #fff; /* Cor branca */
    --DeepPink: #f17ea1; /* Cor rosa profundo */
}

/* Definição do box-sizing para todos os elementos */
* {
    box-sizing: border-box;
}

/* Estilização do body */
body {
    padding-top: 3rem; /* Espaçamento no topo */
    margin: 0; /* Remove as margens padrão */
    flex-wrap: wrap; /* Permite que os elementos dentro do body quebrem para a próxima linha */
    display: flex; /* Define o body como um container flexível */
    background-color: #FFB6C1; /* Cor de fundo rosa claro */
}

/* Estilização do botão de adicionar */
.adicionar {
    position: fixed; /* Fixa o botão na posição especificada */
    top: 1rem; /* Espaçamento do topo */
    right: 1rem; /* Espaçamento da direita */
    background-color: var(--DeepPink); /* Cor de fundo rosa profundo */
    color: var(--white); /* Cor do texto branca */
    border-radius: 3px; /* Borda arredondada */
    padding: 0.5rem 1rem; /* Espaçamento interno */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    border: none; /* Remove a borda padrão */
}

/* Estilização da nota */
.nota {
    background-color: var(--white); /* Cor de fundo branca */
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1); /* Sombra ao redor da nota */
    margin: 30px 20px; /* Margens ao redor da nota */
    height: 400px; /* Altura fixa */
    width: 400px; /* Largura fixa */
}

/* Estilização da seção de configuração da nota */
.nota .configuracao {
    background-color: var(--DeepPink); /* Cor de fundo rosa profundo */
    display: flex; /* Define a seção como um container flexível */
    justify-content: flex-end; /* Alinha os itens ao final */
    padding: 0.5rem; /* Espaçamento interno */
}

/* Estilização dos botões dentro da seção de configuração */
.nota .configuracao button {
    background-color: transparent; /* Fundo transparente */
    color: var(--white); /* Cor do texto branca */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    font-size: 1rem; /* Tamanho da fonte */
    margin-left: 0.5rem; /* Margem à esquerda */
    border: none; /* Remove a borda padrão */
}

/* Estilização do textarea dentro da nota */
.nota textarea {
    outline: none; /* Remove a linha de destaque ao focar */
    font-family: inherit; /* Herdar a fonte do elemento pai */
    font-size: 1.2rem; /* Tamanho da fonte */
    border: none; /* Remove a borda padrão */
    height: 400px; /* Altura fixa */
    width: 100%; /* Largura completa */
    padding: 20px; /* Espaçamento interno */
}

/* Estilização da seção principal da nota */
.main {
    padding: 20px; /* Espaçamento interno */
}

/* Classe para esconder elementos */
.hidden {
    display: none; /* Não exibir o elemento */
}
